CompileFlags:
  CompilationDatabase: .
  Add:
    - -std=c++20
    - -Iinclude
    - -Isrc
    - -Itests
    - -ID:/screen-recorder/include
    - -Id:/screen-recorder/include
    - -DUNICODE
    - -D_UNICODE
    - -D_WIN32_WINNT=0x0A00
    - -DWINVER=0x0A00
    - -DNOMINMAX
    - -DWIN32_LEAN_AND_MEAN
    - -Wno-c++17-extensions
    - -Wno-unused-command-line-argument

Diagnostics:
  Suppress:
    - unused-includes
    - c++17-extensions
    - -Wc++17-extensions
